@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Colors */

:root {
    --background: #282a36;
    --background-2: #44475a;
    --purple: #bd93f9;
    --font-color: #f8f8f2;
    --placeholder-font: #6a6d7a;
}


/* Scroll Bar */

*::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--background-2);
}

body::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

/* Style */

body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter';
    background-color: var(--background);

    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: "as hd""as mn";
}

/* teste */

.header {
    display: flex;
    grid-area: hd;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.searchBox {
    width: 100%;
    display: flex;
    max-width: 500px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 60px;
    background-color: var(--background-2);
}

.searchBox input {
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    background: transparent;
    color: var(--font-color);
}

.searchBox input::placeholder {
    color: var(--placeholder-font);
}

.searchBox button {
    border: 0;
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: transparent;
}


.aside {
    width: calc(13vw - 60px);
    height: calc(100vh - 40px);
    grid-area: as;
    padding: 20px 30px;
}

.logo-text {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-decoration: none;
}

.logo {
    display: flex;
    height: 10vh;
    align-items: center;
}

.left-side-title {
    font-size: 15px;
    margin-bottom: 20px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--placeholder-font);
}

.item-menu-left-side:hover {
    transform: scale(1.05);
    filter: drop-shadow(2px 9px 9px rgba(0,0,0,.5))
}

.item-menu-left-side>a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.item-menu-left-side>a>img {
    opacity: 70%;
    padding: 10px;
    border-radius: 15%;
    background-color: var(--background-2);
}

.item-menu-left-side>a>p {
    color: #fff;
    font-weight: 600;
    padding-left: 15px;
}

.item-menu-left-side {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    margin: 10px 0px;
}

.active {
    background-color: #35C3F3;
    color: #35C3F3;
    opacity: 100%;
}

.split-bar {
    width: 100%;
    height: 1px;
    background-color: var(--background-2);
    margin: 20px 0px;
}

.main {
    display: block;
    grid-area: mn;
    height: 90vh;
    overflow-y: scroll;
    width: calc(87vw - 30px);
    padding: 0px 10px;
}

.explorer-title {
    font-size: 30px;
    font-weight: 600;
    color: var(--font-color);
    padding: 20px 0px;
}

.explorer-card {
    background: var(--purple) url(https://www.freecodecamp.org/portuguese/news/content/images/2022/01/banner-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 25vh;
    border-radius: 15px;
    padding: 25px;
    color: var(--font-color);
}

.card1 {
    color: var(--font-color);
    padding: 25px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;

}

.card1:hover * {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.swiper-slide {
    background-color: #bd93f9;
}

.swiper-slide:nth-child(2n) {
    background-image: linear-gradient(-45deg, #35C3F3 0%, #8b9fe8 20%, #e681d8 39%, #ffa9a4 76%, #FED2CE 100%);
}

.swiper-wrapper .swiper-slide {
    border-radius: 25px;
}

.carrossel {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teste-overflow {
    color: var(--font-color);
}

.card-explorer {
    background-color: #44475a;
    width: 300px;
    height: 250px;
    border-radius: 15px;
}

.card-explorer > img {
    width: 100%;
    border-radius: 15px 15px 0px 0px ;
}

.card {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 360px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(#333, #333);
    transition: all .5s;
}

.card:hover {
    background-image: linear-gradient(#672abf, #380e74);
}

.card .img {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: url('https://climacomunicacao.com.br/wp-content/uploads/2022/02/giphy.gif');
    background-size: cover;
    background-position: center;
    transition: all .5s;
    z-index: 2;
    position: relative;
    opacity: .8;
}

.card .img span {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 100;
    font-style: italic;
    transition: all .5s;
}

.card:hover .img {
    width: 430px;
    opacity: 1;
}

.card:hover .img span {
    font-size: 28px;
}

.card .content {
    padding: 0px 20px;
    height: 0;
    opacity: 0;
    transition: all .5s;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    transform: translateY(30px);
}

.card:hover .content {
    height: 260px;
    padding: 20px;
    opacity: 1;
    transform: translateY(0);
}

.card .content p {
    margin: 0;
}

.card .content .title {
    font-size: 20px;
    font-weight: 600;
}

.card .content .desc {
    font-size: 14px;
    font-weight: 100;
    opacity: .8;
    margin-top: 8px;
}

.card .arrow {
    padding: 15px;
    transform: rotate(-180deg);
    transition: all .5s;
}

.card:hover .arrow {
    transform: rotate(0);
}

.card .arrow span {
    font-size: 24px;
}