@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Colors */

:root {
    --background: #282a36;
    --background-2: #44475a;
    --purple: #bd93f9;
    --font-color: #f8f8f2;
    --placeholder-font: #6a6d7a;
}


/* Scroll Bar */

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--background-2);
}

/* Style */

body {
    width: 100%;
    height: 100vh;
    font-family: 'Inter';
    background-color: var(--background);

    display: grid;
    box-sizing: border-box;
    grid-template-columns: 1fr 6fr;
    grid-template-areas: "as hd" "as mn" "ft ft";
}

/* teste */

.header {
    display: flex;
    grid-area: hd;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.searchBox {
    width: 100%;
    display: flex;
    max-width: 500px;
    padding: 10px 20px;
    align-items: center;
    border-radius: 60px;
    background-color: var(--background-2);
}

.searchBox input {
    flex: 1;
    border: 0;
    outline: none;
    font-size: 20px;
    background: transparent;
    color: var(--font-color);
}

.searchBox input::placeholder {
    color: var(--placeholder-font);
}

.searchBox button {
    border: 0;
    width: 30px;
    height: 30px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: transparent;
}


.aside {
    width: 220px;
    height: 100%;
    grid-area: as;
    padding: 20px 30px;
}

.logo-text {
    color: #fff;
    font-size: 24px;
    font-weight: 600;
    line-height: 34px;
    text-decoration: none;
}

.logo {
    display: flex;
    height: 10vh;
    align-items: center;
}

.left-side-title {
    font-size: 15px;
    margin-bottom: 20px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--placeholder-font);
}

.item-menu-left-side {
    margin: 15px 0px;
}

.item-menu-left-side>a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.item-menu-left-side>a>img {
    opacity: 70%;
    padding: 10px;
    border-radius: 15%;
    background-color: var(--background-2);
}

.item-menu-left-side>a>p {
    color: #fff;
    font-weight: 600;
    padding-left: 15px;
}

.split-bar {
    width: 100%;
    height: 1px;
    background-color: var(--background-2);
    margin: 20px 0px;
}

.main {
    grid-area: mn;
    height: 85vh;
    background-color: rebeccapurple;    
    padding: 20px 30px;
}

.explorer-title {
    font-size: 30px;
    font-weight: 600;
    color: var(--font-color);
}

.explorer-card {
    background: var(--purple) url(https://www.freecodecamp.org/portuguese/news/content/images/2022/01/banner-1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 25vh;    
    border-radius: 15px;
    padding: 25px;
    color: var(--font-color);
}